/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e2a7f+0,1ac9f4+100 */
background: #0e2a7f; /* Old browsers */
background: -moz-linear-gradient(45deg, #0e2a7f 0%, #1ac9f4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #0e2a7f 0%,#1ac9f4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #0e2a7f 0%,#1ac9f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e2a7f', endColorstr='#1ac9f4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

img {
    display: block;
    margin: auto;
    width: 1%;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 48px
	text-align: center;
}

p {
	font-family: 'Josefin Slab', serif;
	font-size: 24px
	text-align: center;
}
